@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --header: #18181880;
}

@theme {
  --header: #18181880;
  --wow: #04D590;
}

.gradient {
  background: linear-gradient(90deg, #04D590 0%, #026F4B 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

body::before {
  content: "";
  width: 347px;
  height: 347px;
  border-radius: 50%;
  filter: blur(200px);
  position: fixed;
  top: -45px;
  left: -282px;
  background: var(--wow);
  z-index: -1;
}

body::after {
  content: "";
  width: 347px;
  height: 347px;
  border-radius: 50%;
  filter: blur(200px);
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: var(--wow);
  z-index: -1;
}