@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --header: #18181880;
}

@theme {
  --header: #18181880;
  --wow: #2f2fef;
  --hover-color: #00FFC2;
  --table-head: #353535;
  --mint: #06120F;
  --collapse: #2EBC84;
  --dropdown: #191919;
}

.gradient {
  background: linear-gradient(90deg, #2f2fef 0%, #026F4B 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

/* Style for the custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the vertical scrollbar */
  height: 8px;
  /* Height of the horizontal scrollbar */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  /* Lighter track background */
  border-radius: 5px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  /* Scrollbar thumb color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Style the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
  /* Thumb hover effect */
}

/* Style for the scrollbar corner (where the two scrollbars meet) */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.popup-style {
  background-color: var(--popup);
  border: 1px solid var(--wow);
  box-shadow: 0px 0px 16px var(--wow);
  backdrop-filter: blur(24px);
}

.shadow-custom {
  box-shadow: 0px 0px 16px var(--wow);
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

body::before {
  content: "";
  width: 347px;
  height: 347px;
  border-radius: 50%;
  filter: blur(200px);
  position: fixed;
  top: -45px;
  left: -282px;
  background: var(--wow);
  z-index: -1;
}

body::after {
  content: "";
  width: 347px;
  height: 347px;
  border-radius: 50%;
  filter: blur(200px);
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: var(--wow);
  z-index: -1;
}