@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --header: #18181880;
}

@theme {
  --header: #18181880;
  --wow: #04D590;
  --hover-color: #00FFC2;
  --table-head: #353535;
  --mint: #06120F;
}

.gradient {
  background: linear-gradient(90deg, #04D590 0%, #026F4B 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

body::before {
  content: "";
  width: 347px;
  height: 347px;
  border-radius: 50%;
  filter: blur(200px);
  position: fixed;
  top: -45px;
  left: -282px;
  background: var(--wow);
  z-index: -1;
}

body::after {
  content: "";
  width: 347px;
  height: 347px;
  border-radius: 50%;
  filter: blur(200px);
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: var(--wow);
  z-index: -1;
}

.t-head::after {
  position: absolute;
  width: 1px;
  height: 39px;
  background: #ffffff;
  right: 0;
  top: 50%;
  content: " ";
  z-index: 999;
  transform: translate(0, -50%);
}

th:last-child .t-head::after {
  content: none;
}

.shadow-custom {
  box-shadow: 0px 0px 16px var(--wow);
}

.bg-btn-gradient {
  background: linear-gradient(to bottom, #081519 12%, #026F4B 100%);
}

/* From Uiverse.io by JkHuger */
.radio-container {
  margin: 0 auto;
  /* max-width: 300px; */
  color: white;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* .radio-button:hover {
  transform: translateY(-2px);
} */

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #04D590;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button input[type="radio"]:checked~.radio-checkmark {
  border-color: #04D590;
}

.radio-label {
  font-size: 14px;
}